<form #categoryForm="ngForm" (ngSubmit)="addCategory(categoryForm)">
  <h5>Crear Categoría</h5>
  <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="categoryService.selectedCategory._id">
  <input required type="text" name="name" #name="ngModel" [(ngModel)]="categoryService.selectedCategory.name" placeholder="Nombre">
  <p *ngIf="name.touched && !name.valid">
    Debe escribir una Categoría válida
  </p>
  <button [disabled]="!categoryForm.valid">Guardar</button>
</form>

<h5>Categorías Creadas</h5>
<table>
  <tbody>
    <tr *ngFor="let category of categoryService.categories">
      <td>{{ category.name }}</td>
      <td>
        <a (click)="editCategory(category)">Editar</a>
        <a (click)="deleteCategory(category._id)">Eliminar</a>
      </td>
    </tr>
  </tbody>
</table>