<div *ngIf="user" class="container">
  <div class="row mb-3">
    <div class="col-md-12">
      <h2>{{ appLiterals.user.profile }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row mb-3 mt-2">
        <h5>{{ user.name }}</h5>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ul class="list-group">
            <li class="list-group-item"> <strong>{{ appLiterals.user.username }}: </strong> {{user.username}}</li>
            <li class="list-group-item"> <strong>{{ appLiterals.user.email }}: </strong> {{user.email}}</li>
            <li class="list-group-item" *ngIf="user.premium"> <strong>Plan: </strong> Premium</li>
            <li class="list-group-item" *ngIf="!user.premium"> <strong>Plan: </strong> Gratuito</li>
            <li class="list-group-item" *ngIf="user.premium"><button type="button" (click)="cancelSuscription('paused')">Cancelar suscripcion Premium</button></li>
            <li class="list-group-item" *ngIf="!user.premium && cardName"><button type="button" (click)="cancelSuscription('authorized')">Reactivar suscripcion Premium</button></li>
            <li class="list-group-item" *ngIf="!cardName"><button type="button" routerLink="/subscription">Subir a Premium</button></li>
          </ul>
            <h3>Datos de pago</h3>
            <p *ngIf="!cardName">No hay datos</p>
            <ul *ngIf="cardName">
                <li class="list-group-item"><strong>Tarjeta: </strong>{{cardName }} <img src="{{cardThumbnail}}" /></li>
                <li class="list-group-item"><strong>Tipo: </strong>{{cardType }}</li>
                <li class="list-group-item"><strong>Ultimos 4 digitos: </strong>{{cardDigits }}</li>
                <li class="list-group-item"><button *ngIf="user.premium" routerLink="/profile/changecard">Cambiar tarjeta</button></li>
            </ul>
            <h3>Pagos</h3>
            <p *ngIf="!nextPayment">No hay datos</p>
            <ul *ngIf="nextPayment">
              <li class="list-group-item"><strong>Proximo pago: : </strong>{{ nextPayment | date: short }}</li>
              <li class="list-group-item"><strong>Pagos realizados: </strong></li>
              <li class="list-group-item" *ngFor="let invoice of invoices"><strong>{{invoice.period}}</strong></li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>
