<div class="container">
  <div class="row">
    <div class="col s5">
      <div class="card">
        <div class="card-content">
          <form #stockForm="ngForm" (ngSubmit)="addStock(stockForm)">
            <h5>Stock</h5>
            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="stockService.selectedStock._id">
            <div class="row">
              <div class="input-field col s12">
                <input type="text" name="purchasePrice" #purchasePrice="ngModel" [(ngModel)]="stockService.selectedStock.purchasePrice" placeholder="Precio de compra por unidad">
              </div>
              <div class="card-action">
                <div class="input-field col s12">
                  <button class="btn right waves-effect waves-light" style="margin-left: 2px;" (click)="resetForm(stockForm)">Cancelar</button>
                  <button class="btn right waves-effect waves-light" [disabled]="!stockForm.valid">Guardar</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col s7 card">
      <table>
        <thead>
          <th><h5>Stock Actual</h5></th>
        </thead>
        <tbody>
          <tr *ngFor="let stock of stockService.stockLst">
            <td>{{ stock.purchasePrice }}</td>
            <td>
              <a (click)="editStock(stock)">
                <i class="material-icons">edit</i>  
              </a>
              <a (click)="deleteStock(stock._id)">
                <i class="material-icons">delete</i>  
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>