<div class="container">
  <div class="row mb-3">
    <div class="col-md-12">
      <h2>Stock</h2>
    </div>
  </div>
  <form [formGroup]="stockForm" (ngSubmit)="addStock()" class="row">
    <div class="col-md-12">
      <div class="row mb-3 mt-2">
        <h5>Agregar producto al Stock</h5>
      </div>
      <div class="row">
        <div class="col-md-6">
          <app-provider-selector [parentForm]="stockForm.get('provider')"></app-provider-selector>
          <app-product-selector [parentForm]="stockForm.get('product')"></app-product-selector>
          <!-- <div class="col-md-1">
            <img [src]="'data:image/jpg;base64,'+product.fileImg" class="img-fluid" />
          </div> -->
        </div>
      </div>
    </div>
  </form>    
</div>