<div class="row">
  <div class="col-md-12">
    <h2>Estadísticas</h2>
  </div>
  <div class="col-xs-12 col-12 col-md-4 form-group">
    <input type="text"
           placeholder="Seleccione el rango de fechas"
           class="form-control" 
           bsDaterangepicker [bsConfig]="{ rangeInputFormat: 'DD-MM-YYYY' }"
           [(ngModel)]="bsRangeValue"/>
  </div>
</div>
<div class="row">
  <h3 style="padding-left: 30px" class="mt-5 mb-3">Mostrando datos de: {{firstDay | date: 'dd/MM/yyyy'}} al  {{today | date: 'dd/MM/yyyy'}}</h3>
    <div class="col-md-12" style="text-align: center; padding-top: 15px;" *ngIf="loading">
        <app-spinner>
        </app-spinner>
      </div>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-2">
        <h3>Compras:</h3>
        <h2>$ {{purchaseTotal}}</h2>
      </div>
      <div class="col-md-2">
        <h3>Ventas:</h3>
        <h2>$ {{ salesTotal }}</h2>
      </div>
      <div class="col-md-2">
        <h3>Ganancias:</h3>
        <h2>$ {{ earningsTotal }}</h2>
      </div>
    </div>
    <div class="row" *ngIf="dataSell">
        <div class="col-md-6">
        <app-chartgraph [chartLabels]="chartLabels" [dataSell]="dataSell"></app-chartgraph>
        </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="row mb-3 mt-2">
      <div class="col-md-12">
        <h5>Ventas registrados</h5>
      </div>
    </div>

    <div class="row align-items-center stat-row" *ngFor="let sell of sells">

      <div class="col-md-1">
        {{sell.saleDate | date: 'dd/MM/yyyy'}}
      </div>

      <div class="col-md-5">
        <div *ngFor="let product of sell.productsGroup">
            <h4>{{ product.productForm.product.name }} ({{ product.productCode }})</h4>
            <p><strong>Precio Compra x U.:</strong> {{ product.purchasePrice }} <strong>Precio Venta x U.:</strong> {{ product.salePrice }}</p>
            <p><strong>Unidades vendidas:</strong> {{ product.units }} <strong>Total Venta Unidades:</strong> {{ product.priceForUnits }}</p>
        </div>
      </div>

      <div class="col-md-2">
        <p><strong>Compras:</strong><br> {{ sell.purchasePriceTotal }}</p>
      </div>
      <div class="col-md-2">
        <p><strong>Ventas:</strong><br> {{ sell.saleTotal }}</p>
      </div>
      <div class="col-md-2">
          <p><strong>Ganancias:</strong><br> {{ sell.saleTotal - sell.purchasePriceTotal}}</p>
      </div>
    </div>
  </div>
</div>