<form #providerForm="ngForm" (ngSubmit)="addProvider(providerForm)">
  <h5>Crear Proveedor</h5>
  <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="providerService.selectedProvider._id">
  <input required type="text" name="name" #name="ngModel" [(ngModel)]="providerService.selectedProvider.name" placeholder="Nombre">
    <p *ngIf="name.touched && !name.valid">
      Debe escribir un Proveedor válido
    </p>
  <input type="text" name="info" #info="ngModel" [(ngModel)]="providerService.selectedProvider.info" placeholder="Información del Proveedor">
  <button [disabled]="!providerForm.valid">Guardar</button>
</form>

<h5>Proveedores Creados</h5>
<table>
  <tbody>
    <tr *ngFor="let provider of providerService.providers">
      <td>{{ provider.name }}</td>
      <td>{{ provider.info }}</td>
      <td>
        <a (click)="editProvider(provider)">Editar</a>
        <a (click)="deleteProvider(provider._id)">Eliminar</a>
      </td>
    </tr>
  </tbody>
</table>