<div class="row">
  <h4>Productos</h4>
</div>
<div class="row">
  <div class="card col s8">
    <form [formGroup]="productForm">
      <h5>Crear Producto</h5>
      <div class="col s6">
      <div class="input-field col s12">
        <select>
          <option value="" disabled selected>Seleccionar Categoría</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
        <label>Categoría</label>
      </div>
      <div class="input-field col s12">
        <select>
          <option value="" disabled selected>Seleccionar Marca</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
        <label>Marca</label>
      </div>
      <div class="input-field col s12">
        <input type="text" formControlName='name' placeholder="Nombre" id="name">
        <label for="name">Nombre</label>
        <div *ngIf="productForm.get('name').touched && productForm.get('name').invalid">
          <p *ngIf="!productForm.get('name').errors.valid">Debe escribir un nombre</p>
        </div>
      </div>
      
      
    </div>
    <div class="col s6"> 
      <div class="input-field col s12">
        <textarea id="decription" class="materialize-textarea"></textarea>
        <label for="description">Descripción (Presione enter para saltar lineas)</label>
      </div>

      <div class="file-field input-field col s12">
        <div class="btn">
          <span>Subir Foto</span>
          <input type="file">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
    </div>

    <div class="input-field col s12">
      <button class="btn right waves-effect waves-light" style="margin-left: 2px;">Limpiar</button>
      <button class="btn right waves-effect waves-light">Crear</button>
    </div>
    </form>
  </div>
</div>

<!-- para stock 
  <div class="input-field col s12">
        <input type="text" formControlName='code' placeholder="Código de producto aleatorio" id="code">
        <label for="code">Código de Producto</label>
      </div>
  <div class="input-field col s12">
            <select>
              <option value="" disabled selected>Seleccionar Proveedor</option>
              <option value="1">Icarus</option>
              <option value="2">Sony</option>
              <option value="3">Distribuidora noa</option>
            </select>
            <label>Proveedor</label>
          </div>
      <div class="input-field col s12">
          <input type="text" class="datepicker" id="datepicker">
          <label for="datepicker">Fecha de compra al proveedor del stock</label>
      </div>
    
    <div class="input-field col s12">
        <input type="text" formControlName='providerPrice' placeholder="Precio de Compra" id="providerPrice">
        <label for="providerPrice">Precio de Compra x U</label>
        <div *ngIf="productForm.get('providerPrice').touched && productForm.get('providerPrice').invalid">
          <p *ngIf="!productForm.get('providerPrice').errors.valid">Debe escribir un precio</p>
          <p *ngIf="productForm.get('providerPrice').errors.cannotContainsEmptySpace">No puede incluir espacio</p>
        </div>
      </div>
      
      <div class="input-field col s12">
        <input type="text" formControlName='customerPrice' placeholder="Precio de Venta" id="customerPrice">
        <label for="customerPrice">Precio de Venta x U</label>
      </div>
      <div class="input-field col s12">
        <input type="number" min="0" step="1" formControlName='stockQuantity' placeholder="Cantidad de Unidades" id="stockQuantity">
        <label for="stockQuantity">Cantidad de unidades a ingresar</label>
      </div>-->
