<h4>Productos</h4>
<div>
  <form [formGroup]="productForm" (ngSubmit)="addNewProduct()">
    <h5>Crear Producto</h5>
    <app-category-selector [parentForm]= "productForm.get('category')"></app-category-selector>
    <app-brand-selector [parentForm]="productForm.get('brand')"></app-brand-selector>
    <input type="text" formControlName='name' placeholder="Nombre">
    <div *ngIf="productForm.get('name').touched && productForm.get('name').invalid">
      <p *ngIf="!productForm.get('name').errors.valid">Debe escribir un nombre</p>
    </div>
    <textarea placeholder="Descripción" id="description" formControlName="description"></textarea>
    <app-upload-image [parentForm]="productForm.get('photo')" (valueChange)='displayCounter($event)'></app-upload-image>

    <button>Limpiar</button>
    <button [disabled]="!productForm.valid">Crear</button>
  </form>
</div>

<div>
  <ul *ngFor="let product of productService.products">
    <li>
      <img [src]="'data:image/jpg;base64,'+product.fileImg"/>
      <p>{{ product.name }}</p>
      <p>Marca: {{ product.brand.name }} <br>
        Categoria: {{ product.category.name }}
      </p>
      <div>
        <a (click)="editProduct(product)">Editar</a> 
        <a (click)="deleteProduct(product._id)">Eliminar</a>
      </div>
    </li>
  </ul>
</div>